<div class="container">
    <div class="row">
        <h1 class="neon" data-text="U">WE<span class="flicker-slow">LC</span>O<span class="flicker-fast">M</span>E</h1>
        <h1 class="welcome">From Tulsa Area USBC</h1>
    </div>
</div>